# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.gz
*.aux
*.out
*.npz
*.log
*.fls
__pycache__*

